<!DOCTYPE html>
{% load static %}
<html lang="ja">
<head>
      <meta charset="UTF-8">
      <title>Todo List</title>
      <link rel="stylesheet" href="{% static 'app_css/index.css'%}">
      <script type="module" src="{% static 'app_js/index.js'%}"></script>
      <script src="{% static 'app_js/edit_delete.js'%}"></script>
</head>
<body>
      <label><h2>Todo List</h2></label>
      <div class="regist area">
            <input class="task" id="task-regist" type="text" placeholder="タスク(必須)">
            <select class="priority" id="priority-regist">
                  <option value="1">高</option>
                  <option value="2">中</option>
                  <option value="3">低</option>
            </select>
            <input type="text" name="date-start" class="date" id="date-start-regist" onfocus="this.type='date'" onfocusout="this.type='text'" placeholder="開始日">
            <input type="text" name="date-end" class="date" id="date-end-regist" onfocus="this.type='date'" onfocusout="this.type='text'" placeholder="締め切り">
            <input type="text" id="comment-regist" placeholder="備考">
            <input type="button" class="button" id="reset_regist-btn" value="リセット">
            <input type="button" class="button regist" id="regist-btn" value="登録" disabled>
      </div>
      <div id="error-msg"></div>
      <div class="search">
            <label class="tab-label" id="tab-label-search" for="tab-search-list">検索一覧</label>
            <div class="search area">
                  <input type="text" class="task" id="search-task" placeholder="タスク">
                  <select class="priority" id="priority-search">
                        <option selected value=""></option>
                        <option value="1">高</option>
                        <option value="2">中</option>
                        <option value="3">低</option>
                  </select>
                  <input type="text" name="date-start" class="date" id="date-start-search" onfocus="this.type='date'" onfocusout="this.type='text'" placeholder="開始日">
                  <input type="text" name="date-end" class="date" id="date-end-search" onfocus="this.type='date'" onfocusout="this.type='text'" placeholder="締め切り">
                  <input type="text" id="comment-search" placeholder="備考">
                  <input type="button" class="button" id="reset_search-btn" value="リセット">
                  <input type="button" class="button search" id="search-btn" value="検索">
            </div>
            <table class="list-search-table" id="list-table">
                  <thead>
                        <tr>
                              <th>タスク</th>
                              <th class="date-th">開始日</th>
                              <th class="date-th">締め切り</th>
                              <th class="priority-th">優先度</th>
                              <th>備考</th>
                              <th class="operation-th">操作</th>
                        </tr>
                  </thead>
                  <tbody>
                  </tbody>
            </table>
      </div>
</body>
</html>